@media (max-width: 550px) {
    .navbar{
        height: 10vh;
    }
    .navbar_navigation_user{
        width: 90%;
        
    }
    .none{
        display: block;
    }
    .navbar_navigate{
        display: none;
    }
    .navbar_logo{
        width: 100%;
        padding: 5px 10px;
        background: var(--color);
    }
    .blockmaxwidth500.button.nav{
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: white;
        color: var(--color);
    }
    .navbar_logo_img{
        display: none;
    }
    .navbar_social_icon{
        display: none;
    }
    .AboutUsOurDoctor_content{
        width: 100%;
    }
    .AboutUsOurDoctor_pagination{
       width: 99%;
    }
    .AboutUsOurDoctor_pagination_title{
        display: flex;
        justify-content: space-between;
        span{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            overflow: hidden;
        }
        h1{
            width: 90%;
            font-size: 19px;
        }
        img{
            display: flex;
            height: 120px;
            width:100px;
        }
    }
    .AboutUsOurDoctor_pagination_detail{
        overflow-y: auto;
        h3{
            text-align: center;
            font-size: 19px;
        }
        p{
            font-size: 17px;
        }
        span{
            img{
                height: 20px;
            }
        }
    }
    .HomeRating_rating_item{
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .HomeRating_rating_social{
        width: 350px;
    }
    .Footer_questions{
        height: 70%;
    }
    .Footer_questions_operator{
        img{
            width: 70px;
            height: 90px;
            border-radius: 50%;
        }
    }
    .Footer_questions{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Footer_questions_title{
        h1{
            width: 240px;
        }
    }
    .Footer_questions_item{
        width: 200px;
    }
    .Footer_questions_item{
        display: flex;
        flex-direction: column;
    }
    .Footer_map{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .Footer_clinic{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .Footer_clinic_title{
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .Footer_services{
        display: none;
    }
    .Footer_basement{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 30px 0px;
        flex-direction: column-reverse;
    }
    .Footer_basement_item{
        width: 85%;
    }
    .Footer_services_item{
        width: 89%;
    }
    .blockmaxwidth500{
        display: block;
    }
    .home_wrapper{
        display: none;
    }
    .AboutUsOurDoctor_pagination_btn{
        display: none;
    }
    .AboutUsOurDoctor_doctor{
        display: none;
    }
    .nonemaxwidth500{
        display: none;
    }
  }