:root {
    --font-family: "Montserrat", sans-serif;
    --color: #2cb2bb;
  }



  /* =========--Home Swiper--======== */

.home_wrapper{
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
}
.home_wrapper_content{
    width: 1000px;
    height: 300px;
    overflow: hidden;
}
.home_wrappers{
    width: 4000px;
    display: flex;
    background: white;
}
.home_swiper{
    transition: 1s;
    width: 1000px;
    height: 300px;
    background: var(--color);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_swiper.active{
    width: 1000px;
}
.home_swiper.none{
    width: 0%;

}
.home_swiper_content{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.home_swiper_btns{
    width: 72%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}
.home_swiper_btn{
    width: 11%;
    margin-top: -60px;
    display: flex;
    justify-content: space-between;
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        border-radius: 50%;
        
        font-size: 30px;
        height: 50px;
        border: none;
        background: rgba(0, 0, 0, 0.219);
    }
}
.normal{
    color: white;
}
.nul{
    color: rgba(255, 255, 255, 0.418);
}
.home_title_tegs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_title_tegs_content{
    width: 70%;
    display: flex;
    justify-content: space-between;
    button{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 114%;
        text-align: center;
        text-decoration: underline;
        border: none;
        background: none;
        cursor: pointer;
        width: 200px;
        height: 40px;
    }
}
.home_swiper_nagigate.norm{
    color: #2cb2bb;
}
.home_swiper_nagigate.none{
    color: #253f41;
}
.home_bacdrop_swiper_content{
    width: 440px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    
}
.home_backdrop{
    width: 90%;
    height: 50%;
    background-repeat: no-repeat;
    img{
        margin-top: -150px;
        width: 320px;
        height: 340px;
    }
}
.home_swiper_title{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3{
        width: 400px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 34px;
        line-height: 120%;
        color: #fff;
    }
    h4{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 28px;
        line-height: 114%;
        color: #fff;
    }
    p{
        width: 400px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #fff;
    }
    button{
        border-radius: 4px;
        width: 250px;
        height: 40px;
        transition: 0.4s;
        background: #fff;
        border: none;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;
        text-align: center;
        color: #2cb2bb;
    }
    button:hover{
        box-shadow: 0 10px 12px 0 rgba(37, 63, 65, 0.1);
    }
}

/* =====--AboutUsOurDoctor--===== */
.AboutUsOurDoctor{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AboutUsOurDoctor_content{
    width: 75%;
    height: 89%;
    padding: 25px 10px;
    border-radius: 8px;
    display: flex;
    background: #f2fafb;
    justify-content: space-around;
    overflow: hidden;
}
.AboutUsOurDoctor_pagination{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.AboutUsOurDoctor_pagination_title{
    img{
        display: none;
    }
    h1{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        line-height: 125%;
        color: #253f41;
    }
}
.AboutUsOurDoctor_pagination_item{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.AboutUsOurDoctor_pagination_page{
    display: flex;
    gap: 10px;

}
.aboutusdoctor{
    transition: 0.4s;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    border: none;
}
.aboutusdoctor.active{
    color: white;
    background: var(--color);
}
.AboutUsOurDoctor_pagination_btn{
    button{
        border-radius: 5px;
        border: none;
        width: 172px;
        height: 35px;
        background: #1898a1;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 14px;
        line-height: 143%;
        text-align: center;
        color: #fff;
        transition: 0.4s;
    }
    button:hover{
        background:var(--color);
        box-shadow: 0 5px 12px 0 rgba(50, 221, 233, 0.479);
    }
}
.AboutUsOurDoctor_pagination_detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        color: #253f41;
    }
    span{
        display: flex;
        align-items: flex-start;
    }
    p{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 15px;
        line-height: 143%;
        color: #253536;
    }
}
.AboutUsOurDoctor_doctor{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 350px;
    }
}
/* ========---Navbar---===== */
.navbar{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_content{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.navbar_navigation_user{
    width: 90%;
    display: flex;
    justify-content: space-between;
    button{
        transition: 0.2s;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 114%;
        color: #1c666b;
        border: none;
        background: none;
    }
    button:hover{
        color: #2cb2bb;
    }
}
.blockmaxwidth500{
    display: none;
}
.nonemaxwidth500{
    display: flex;
}
.navbar_logo{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        transition: 0.3s;
        width: 20%;
        height: 50px;
        align-items: center;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 114%;
        color: #2cb2bb;
        background: #f2fafb;
        padding: 5px 10px;
        border-radius: 8px;
        border: none;
        svg{
            width: 30px;
            height: 35px;
        }
    }
    button:hover{
        box-shadow: 0 10px 12px 0 rgba(44, 178, 187, 0.16);
        background: #1fc6d0;
        color: #fff;
    } 
}
.navbar_navigate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #2cb2bb;
    nav{
        width: 100%;
        height: 64px;
        display: flex;
        justify-content: space-around;
    }


}
.navbar_navigate_link{
    background: #2cb2bb;
    transition: 0.3s;
    padding: 0px 23px;
    height: 100%;
    border: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    display: flex;
    align-items: center;
}
.navbar_navigate_link:hover{
    background: #2fc2cb;
}
.navbar_navigate_select{
    position: absolute;
    margin-top: 5px;
    padding: 8px;
    width: 280px;
    background-color: white;
    button{
        width: 99%;
        height: 35px;
        background: white;
        border: none;
        display: flex;
        padding: 0px 5px;
        justify-content: flex-start;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        transition: 0.2s;
    }
    button:hover{
        background: #a8a8a836;
    }
}
/* =====--HomeRating---===== */
.HomeRating{
    width: 100%;
    height: 400px;
    background: #e3f5f7;
}
.HomeRating_content{
    padding: 10px 10px;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.HomeRating_title{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
.HomeRating_title_item{
    h1{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        line-height: 125%;
        color: #253f41;
    }
}
.HomeRating_rating_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.HomeRating_rating_item{
    display: flex;
    gap: 20px;
}
.HomeRating_rating_social{
    display: flex;
    transition: 0.3s;
    gap: 20px;
    width: 300px;
    border-radius: 8px;
    height: 60px;
    img{
        width: 43px;
        height: 40px;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 10px 12px 0 rgba(44, 178, 187, 0.16);
        background: #fff;
    }
    span{
        display: none;
    }
    
}
.HomeRating_rating_social:hover{
    background: #fff;
    span{
        display: flex;
    }
}
.Home_rating_social_title{
    width: 70%;
    height: 78%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #253f41;
    }
    h4{
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 114%;
        color: #2cb2bb;
        display: flex;
        justify-content: space-between;
    }
}
.HomeRating_img{
    img{
        height: 430px;
    }
}
/* =====--Modal window--==== */
.ModalWindowSity{
    position: fixed;
    width: 100%;
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.281);
}
.ModalWindowSity_content{
    width: 320px;
    height: 30%;
    margin-top: 300px;
    border-radius: 10px;
    padding: 20px 10px;
    background: #f4fffe;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    button{
        display: flex;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 114%;
        color: #1a929b;
        border-radius: 8px;
        padding: 10px 9px;
        background: #dff6fa;
        border: none;
    }
}